*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.logo{
    font-size: 28.43px;
    color: #d9d9d9;
    font-weight: 600;
}
h1{
    font-size: 67.34px;
}
h2{
    font-size: 37.9px;
}
h3{
   font-size: 28.43;
}
header{
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 96px;
    width: 100%;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
    

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 1.5rem;
    
}
.nav-list{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.button{
    background-color: #31bbff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    text-decoration: none;

}
.section-1{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px;
    height: 960px;

    background-image: url("./images/tiger-in\ forest.jfif");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-1 h1{
    color: white;
    margin-bottom: 24px;
}
.section-1 p{
    color: white;
}
.tigers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
    margin-top: 72px;
}
.tiger{
    position: relative;
}
.tiger h3{
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: white;
}
.tiger img{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 1416px;
    width: 100%;    
}
.section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}
.section-2-h-p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 32px;
    border-bottom: 1px solid #B2B2B2;
    
}
.h1-p{
    max-width: 595px;
}